/**
 * These values will not show up in content, but can be 
 * queried by JavaScript to know which breakpoint is active.
 * Add or remove as many breakpoints as you like.
 */
body {
  background-color:#e84444;
  color: white;
}
body:after {
  content: "mobile,tablet,desktop";
  display: none;
}
body:before {
  display: none; 
}
@media (min-width: 320px) {
  body:before {
    content: "mobile";
  }
}
@media (min-width: 650px) {
  body:before {
    content: "tablet";
  }
}
@media (min-width: 1000px) {
  body:before {
    content: "desktop";
  }
}
.content {
	padding: 40px;
	text-align: left;
	font: 22px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  letter-spacing: 0.1em;
}
span {
	font-weight: bold;
  text-transform: uppercase;
  font-size: 40px;
}
